.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;

}
.box {
  border: 1px solid;
  border-radius: 5%;
  margin: 10px;
  width: 300px;
  height: 390px;
}
img{
  margin: 10px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 1px solid;
}
.text{
  margin: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.name {
  margin-top: 10px;
}
